@model Broker.ViewModels.AssociateCreateViewModel

@{
    ViewData["Title"] = "Create";
}
<h4>Create a new associate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Associate.AssociateFirstName" class="control-label">First Name</label>
                <input asp-for="Associate.AssociateFirstName" class="form-control" />
                <span asp-validation-for="Associate.AssociateFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Associate.AssociateLastName" class="control-label">Last Name</label>
                <input asp-for="Associate.AssociateLastName" class="form-control" />
                <span asp-validation-for="Associate.AssociateLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Associate.Company" class="control-label">Company</label>
                <input asp-for="Associate.Company" class="form-control" />
                <span asp-validation-for="Associate.Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssociateCommission.CommissionSplitId" class="control-label">Split Percentage</label>
                <select asp-for="AssociateCommission.CommissionSplitId" class="form-control" asp-items="ViewBag.CommissionSplitId"></select>
                <span asp-validation-for="AssociateCommission.CommissionSplitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
