@model Broker.Models.Associate

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Associate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssociateFirstName" class="control-label">First Name</label>
                <input asp-for="AssociateFirstName" class="form-control" />
                <span asp-validation-for="AssociateFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssociateLastName" class="control-label">Last Name</label>
                <input asp-for="AssociateLastName" class="form-control" />
                <span asp-validation-for="AssociateLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label">Company</label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SplitId" class="control-label">Split Percentage</label>
                <input asp-for="SplitId" class="form-control" />
                <span asp-validation-for="SplitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
