@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<head>
    <title>Home page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
        <div class="container text-center">
        <div class="row content">
            <div class="col-sm-12 sidenav">
                <h4>Welcome to Commission Tracker</h4>
                <p>Please follow the links to start entering information</p>
                <button type="button" class="btn btn-outline-primary" aria-pressed="true"><a class="nav-link" asp-area="" asp-controller="CommissionsPaid" asp-action="Create">Create a new Commission Stub</a></button>
                <button type="button" class="btn btn-outline-primary" aria-pressed="true"><a class="nav-link" asp-area="" asp-controller="Associates" asp-action="Create">Create a new Associate</a></button>
                <button type="button" class="btn btn-outline-primary" aria-pressed="true"><a class="nav-link" asp-area="" asp-controller="Products" asp-action="Create"> Create a new Mortgage</a></button>
</div>
            <div class="col-sm-8 text-left">
                
            </div>
        </div>
    </div>
</body>
</html>

